* {
    box-sizing: border-box;
}

body{
    background-color: #36393f;
}
h1 {
    color: #b9bbbe;
}
.smileLogo{
    background-color: #40444b;
    width: 44px;
    height: 44px;
}
.chat button{
    padding: 0;
    border: none;
}
.chat input{
    color: #dcddde;
    background-color: #40444b;
    height: 44px;
    padding: 0 2px;
    width: 60%;
    min-width: 100px;
}
.chat{
    display: flex;
}




.emoji-widget {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 400px; 
    background: #2F3136;
}

.emoji-widget__header {
    padding-top: 25px;
    padding-bottom: 25px;
}

.emoji-widget__header,
.emoji-widget__tabs {
    padding-left: 25px;
    padding-right: 25px;
}

.emoji-widget__search-input {
    width: 100%;
    height: 44px;
    padding: 0 8px;
    background-repeat: 5px; 
    border-radius: 5px;
    background: #202225;

    color: #6D7178;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;

    outline: none;
    border: none;
}

.emoji-widget__tabs {
    display: flex;
    padding-top: 15px;
    padding-bottom: 15px;
    background: #202225;
}

.emoji-widget__tab {
    width: 40px;
    height: 40px;
    background: red;
    margin-right: 16px;
}

.emoji-widget__content {
    flex: 1;
}

.emoji-widget__results {
    display: flex;
    list-style: none;
    padding: 25px;
    margin: 0;
}

.emoji-widget__result {
    margin-right: 15px;
}


.emoji-widget__current-smile {
    margin-right: 5px;
}

.emoji-widget__current-smile-name {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: #fff;
}

.emoji-widget__footer {
    display: flex;
    align-items: center;
    background: #202225;
    min-height: 44px;
    padding: 15px 25px;
    justify-self: flex-end;
    width: 100%;
}
